apiVersion: v1
kind: Secret
metadata:
  name: mlflow-secret
  namespace: mlflow
type: Opaque
data:
  MLFLOW_OIDC_CLIENT_SECRET: INSERT_BASE64_ENCODED_VALUE
  MLFLOW_OIDC_SECRET_KEY: INSERT_BASE64_ENCODED_VALUE
  MLFLOW_AWS_ACCESS_KEY: INSERT_BASE64_ENCODED_VALUE
  MLFLOW_AWS_SECRET_KEY: INSERT_BASE64_ENCODED_VALUE
  MLFLOW_CRYPTO_KEK_PASSPHRASE: INSERT_BASE64_ENCODED_VALUE
